<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Jabberwocky.WebApi.Sc.Pipelines.Initialize.RegisterWebApi, Jabberwocky.WebApi.Sc" />
      </initialize>
      <registerWebApi>
        <processor type="Jabberwocky.WebApi.Sc.Pipelines.RegisterWebApi.RegisterDefaultRoute, Jabberwocky.WebApi.Sc" />
        <processor type="Jabberwocky.WebApi.Sc.Pipelines.RegisterWebApi.RegisterJsonFormatter, Jabberwocky.WebApi.Sc" />
        <processor type="Jabberwocky.WebApi.Sc.Pipelines.RegisterWebApi.RegisterCompressionMessageHandler, Jabberwocky.WebApi.Sc" />
        <processor type="Jabberwocky.WebApi.Sc.Pipelines.RegisterWebApi.EnsureInitialized, Jabberwocky.WebApi.Sc" />
      </registerWebApi>
    </pipelines>
  </sitecore>
</configuration>