<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">

  <sitecore>

		<services>
			<!-- This type is removed if using the Jabberwocky.Glass.Autofac package: Jabberwocky.DependencyInjection.Sc.Configuration.AutowireServiceConfigurator, Jabberwocky.DependencyInjection.Sc -->
			<configurator type="Jabberwocky.DependencyInjection.Sc.Configuration.AutowireServiceConfigurator, Jabberwocky.DependencyInjection.Sc" />
		</services>

  </sitecore>

</configuration>